



 

   *
   {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }


   body
   {
       min-height: 100vh;
       background: #000;
   }


   .container
   {
       position: relative;
       height: 100vh;
       overflow: hidden;
       animation: animate 4s linear infinite;
       cursor: none;
   }


   @keyframes animate
   {
       0%
       {
           filter: hue-rotate(0deg);
       }
       100%
       {
           filter: hue-rotate(360deg);
       }
   }


   .row
   {
       display: inline-flex;
       margin-top: -32px;
       margin-left: -50px;
   }


   .row:nth-child(even)
   {
       margin-left: -9px;
   }








   .hexagon
{
	position: relative;
	width: 80px;
	height: 100px;
	margin: 1px;
	margin-top: 5px;
	margin-left: -0px;
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	transition: 2s;
}



   .hexagon:hover
{
	transition: 0s;
	box-shadow:inset 0 0 50px #ffffffe3,inset 20px 0 80px rgb(255, 0, 128),
    inset -20px 0 80px rgb(89, 0, 255);
}




   .hexagon:before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	pointer-events: none;
}